.agua{
    background-color: #6390f0;
}
.fogo{
    background-color: #ee8130;
}

.grama{
    background-color: #7ac74c;
}

.inseto{
    background-color: #a6b91a;
}

.veneno{
    background-color: #df67ddfb;
}

.voador{
    background-color: #80e6e8 ;
}
